---

---

<section class="mb-20 md:mb-32">
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 md:gap-2.5 items-end">
    <div class="lg:col-span-8">
      <span class="bg-[#000000] text-[#FFF] text-[10px] px-3 py-1 rounded-full font-label uppercase tracking-widest mb-4 md:mb-6 inline-block">
        Desde 2023
      </span>
      <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl leading-[0.9] text-[#5E0B15] tracking-tighter italic font-semibold">
        <p class="pb-2 md:pb-6 ">Hacia un nuevo enfoque</p> <span class="not-italic font-black">del Derecho del Trabajo</span>
      </h1>
    </div>
    <!-- <div class="lg:col-span-4 pb-4">
      <p class="font-body text-base md:text-lg text-[#564243] leading-relaxed text-right">
        En DETRA-UNT, nos encontramos en la interseccion de la tradicion legal y la exploracion academica moderna. Nuestro compromiso con la excelencia editorial define cada publicacion y evento.
      </p>
    </div> -->
  </div>
</section>
